.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.start-screen {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  height: 812px;
  width: 375px;
}
.back-button {
  align-self: flex-start;
  height: 24px;
  margin-left: 24px;
  margin-top: 13px;
  margin-bottom: 13px;
  width: 24px;
}
.start-screen-title {
  letter-spacing: 0;
  margin-top: 58px;
  min-height: 38px;
  min-width: 275px;
  color: rgba(0, 0, 0, 0.871);
}

.app-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 2px;
  margin-top: 20px;
  min-height: 50px;
  min-width: 267px;
}

.start-screen .frame-121 {
  color: #ffffff;
  padding: 12px 24px;
  background-color: #f48319;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;
  margin-top: 370px;
  margin-left: 1px;
  min-width: 327px;
  justify-content: center;
}

.frame-122 {
  align-items: center;
  border: 2px solid #f48319;
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-top: 28px;
  justify-content: center;
  min-width: 327px;
  padding: 12px 24px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.create-account {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 42px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}
.rectangle-90 {
  width: 134px;
  height: 5px;
  margin-top: 12px;
  margin-bottom: 8px;
  background: #000000;
  border-radius: 36px;
  left: 121px;
}
