body{
line-height: 20px;
background-color:#fff;
padding: 20px;
}
form{
width: 400px;
padding: 15px;
display: flex;
margin: 5px auto;
flex-direction: column;
overflow: hidden;
gap:10px;
}
 .form-btn{
    background-color: #f7a253;
    color: #fff;
    height:35px;
    border: none;
    font-size: medium;
    width: 82%;
    margin-top: 40px;
}
input{
font-size: 15px;
padding: 8px;
margin-top: 8px;
width: 77%;
font-weight: 400;
border-radius: 4px;
border: 2px solid lightgrey;
}
label{
    font-weight: bold;
    font-size: 18px;
}
 h1{
    font-size: 28px;
    font-weight: 800;
    color: black;
    margin: 20px 0;
}
.or{
    display: flex;
    align-items: center;
    gap:9px;
    text-align: center;
}
.line{
height: 2px;
background-color: lightgrey;
width:36%;
}
.socials button{
    background: transparent;
    border: 2px solid #f85314;
    width: 82%;
    height:35px;
    font-size: medium;
    margin: 10px auto;
    border-radius: 4px;
    color:black;
    font-weight: bold;
}
.thick-line{
    width: 134px;
    background-color: black;
    height:5px;
    border-radius: 10px;
    margin-left: 75px;
}
form a{
    color:black;
}